/*---------------------------------------------------------------------------*\
                                    FONTS
/*---------------------------------------------------------------------------*\

/* Set up fonts used in project and store them to global variables. */